<!DOCTYPE html>
<html>

<head>
	<title>eartharoid GO</title>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='theme-color' content='#009999'>
	<meta name='title' content='eartharoid GO'>
	<meta name='og:title' content='eartharoid GO' />
	<meta name='og:site_name' content='eartharoid GO' />
	<meta name='description' content='Serverless URL shortener'>
	<meta name='og:description' content='Serverless URL shortener' />
	<meta name='url' content='/'>
	<meta name='og:url' content='/' />
	<meta name='og:image' content='/logo.png' />

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.3/css/bulma.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.1/darkly/bulmaswatch.min.css'>
	<link rel='icon' href='/favicon.ico' type='image/icon'>
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js'></script>

	<link rel='stylesheet' href='/jstable.css' />

	<style>
		select,
		input[type='text'],
		input[type='text']:placeholder-shown,
		input[type='password'],
		input[type='password']:placeholder-shown {
			background-color: black !important;
			color: white !important;
		}

		input[type='text']::placeholder,
		input[type='password']::placeholder {
			color: grey !important;
		}
	</style>

</head>

<body>
	<section class='section'>
		<container class='container box has-text-centered'>
			<!-- <img class='block is-rounded' src='/logo.png' style='width:128px;'> -->
			<a href='/' class='button is-small my-5 is-outlined is-link'>
				<span class='icon'>
					<i class='fas fa-long-arrow-alt-left'></i>
					<!-- <i class='fas fa-chevron-left'></i> -->
				</span>
				<span>
					Create a new short URL
				</span>
			</a>
			<br/>
			<a class='button is-small my-5 is-outlined is-link' onClick='javascript:logout()'>
				<span class='icon'>
					<i class='fas fa-long-arrow-alt-left'></i>
					<!-- <i class='fas fa-chevron-left'></i> -->
				</span>
				<span>
					Logout
				</span>
			</a>

			<div class='level'>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{totalLinks}}</p>
						<p class='heading'>Links</p>
					</div>
				</div>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{totalClicks}}</p>
						<p class='heading'>Total clicks</p>
					</div>
				</div>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{uniqueClicks}}</p>
						<p class='heading'>Unique clicks</p>
					</div>
				</div>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{clickers}}</p>
						<p class='heading'>Clickers</p>
					</div>
				</div>
			</div>

			<div class='table-container'>
				<table id='dataTable' class='table is-bordered is-striped is-hoverable is-fullwidth'>
					<thead>
						<tr>
							<th>ID</th>
							<th>URL</th>
							<th>Created</th>
							<th>Creator</th>
							<th>Clicks</th>
							<th data-sortable="false">Manage</th>
						</tr>
					</thead>
					<tbody>
						{{#links}}
						<tr>
							<td><a href='{{preview}}' target='_blank'>{{name}}</a></td>
							<td class='is-size-7'><a href='{{url}}' target='_blank'>{{truncated_url}}</a></td>
							<td>{{created}}</td>
							<td>{{creator}}</td>
							<td>{{clicks}}</td>
							<td class='has-text-centered'>
								<a href='{{stats}}' class='button mx-1 is-info'>
									<span class='icon'>
										<i class='fas fa-chart-bar'></i>
									</span>
								</a>
								<a class='button mx-1 is-warning has-text-white' onclick='editURL("{{name}}")'>
									<span class='icon'>
										<i class='fas fa-pencil-alt'></i>
									</span>
								</a>
								<a class='button mx-1 is-danger' onclick='deleteURL("{{name}}")'>
									<span class='icon'>
										<i class='fas fa-trash-alt'></i>
									</span>
								</a>
							</td>
						</tr>
						{{/links}}
					</tbody>
					<tfoot>
						<tr>
							<th>ID</th>
							<th>URL</th>
							<th>Created</th>
							<th>Creator</th>
							<th>Clicks</th>
							<th>Manage</th>
						</tr>
					</tfoot>
				</table>
			</div>
		</container>
		<p class='has-text-centered'>
			&copy; 2021-2022 <a href='https://eartharoid.me'>Isaac Saunders</a>
		</p>
	</section>

	<script src='/jstable.js'></script>
	<script>
		let table = new JSTable('#dataTable', {
			perPage: 10,
			perPageSelect: [10, 25, 50, 75, 100, 125, 150],
			labels: {
				placeholder: 'Search',
				perPage: '{select} links per page',
				noRows: 'No links found',
				info: 'Showing {start} to {end} of {rows} links',
				loading: 'Loading...',
				infoFiltered: 'Showing {start} to {end} of {rows} links (filtered from {rowsTotal} links)'
			},
			classes: {
				top: 'dt-top',
				info: 'dt-info',
				input: 'input',
				table: 'dt-table',
				bottom: 'dt-bottom',
				search: 'dt-search',
				sorter: 'dt-sorter',
				wrapper: 'dt-wrapper',
				dropdown: 'dt-dropdown',
				ellipsis: 'dt-ellipsis',
				selector: 'dt-selector',
				container: 'dt-container',
				pagination: 'pagination',
				loading: 'dt-loading',
				message: 'dt-message'
			}
		});
	</script>
	<script>
		function editURL(id) {
			let newURL = prompt(`New long URL for '${id}':`);

			if (newURL.length > 1) {
				fetch(`/api/edit`, {
						method: 'POST',
						body: JSON.stringify({
							id,
							url: newURL,
						}),
						headers: {
							'Content-Type': 'application/json'
						},
					})
					.then(res => res.json())
					.then(data => {
						if (data.success) {
							let reload = confirm(`Success.\nRefresh the page?`);
							if (reload) {
								window.location.reload(true);
							}
						} else {
							alert(`Error: ${data.message}`);
						}
					});
			}
		}

		function deleteURL(id) {
			const confirmation = confirm(
				`⚠️ DANGER ⚠️\n\nAre you sure you want to delete '${id}'?\nNote that clicks data will not be removed.`);

			if (confirmation) {
				fetch(`/api/delete`, {
						method: 'POST',
						body: JSON.stringify({
							id,
						}),
						headers: {
							'Content-Type': 'application/json'
						},
					})
					.then(res => res.json())
					.then(data => {
						if (data.success) {
							let reload = confirm(`Success.\n"${data.message}"\nRefresh the page?`);
							if (reload) {
								window.location.reload(true);
							}
						} else {
							alert(`Error: ${data.message}`);
						}
					});
			}
		}

		function logout() {
			document.cookie = 'password=; expires=Thu, 01 Jan 1970 00:00:00 GMT;';
			window.location.href = '/';
		}
	</script>
</body>

</html>