<!DOCTYPE html>
<html>

<head>
	<title>eartharoid GO</title>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='theme-color' content='#009999'>
	<meta name='title' content='eartharoid GO'>
	<meta name='og:title' content='eartharoid GO' />
	<meta name='og:site_name' content='eartharoid GO' />
	<meta name='description' content='Serverless URL shortener'>
	<meta name='og:description' content='Serverless URL shortener' />
	<meta name='url' content='/'>
	<meta name='og:url' content='/' />
	<meta name='og:image' content='/logo.png' />

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.1/darkly/bulmaswatch.min.css'>
	<link rel='icon' href='/favicon.ico' type='image/icon'>
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/js/all.min.js'></script>

	<style>
		select,
		input[type='text'],
		input[type='text']:placeholder-shown,
		input[type='password'],
		input[type='password']:placeholder-shown {
			background-color: black !important;
			color: white !important;
		}

		input[type='text']::placeholder,
		input[type='password']::placeholder {
			color: grey !important;
		}
	</style>

</head>

<body>
	<section class='section'>
		<container class='container box has-text-centered' style='max-width:500px;'>
			<img class='block is-rounded' src='/logo.png' style='width:128px;'>

			<form id='form' action='/admin' method='POST' onsubmit='document.getElementById("button").classList.add("is-loading")'>
				<fieldset>
					<div class='field'>
						<label class='label'>Admin password</label>
						<div class='control has-icons-left'>
							<input type='password' name='password' class='input' placeholder='**********'
								autocomplete='off' required>
							<span class='icon is-small is-left'>
								<i class='fas fa-key'></i>
							</span>
						</div>
					</div>

					<div class='field'>
						<div class='control'>
							<button id='button' type='submit' class='button is-info is-fullwidth mt-5'>
								<span>Login</span>
								<!-- <span class='icon'>
									<i class='fas fa-chevron-right'></i>
								</span> -->
							</button>
						</div>
					</div>
				</fieldset>
			</form>
		</container>
		<p class='has-text-centered'>
			&copy; 2021 <a href='https://eartharoid.me'>Isaac Saunders</a>
		</p>
	</section>
</body>

</html>