<!DOCTYPE html>
<html>

<head>
	<title>eartharoid GO</title>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='theme-color' content='#009999'>
	<meta name='title' content='Link preview'>
	<meta name='og:title' content='Link preview' />
	<meta name='og:site_name' content='eartharoid GO' />
	<meta name='description' content='Link preview for {{id}}'>
	<meta name='og:description' content='Link preview for {{id}}' />
	<meta name='url' content='/'>
	<meta name='og:url' content='/' />
	<meta name='og:image' content='/logo.png' />

	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bulmaswatch/0.8.1/darkly/bulmaswatch.min.css'>
	<link rel='icon' href='/favicon.ico' type='image/icon'>
	<script defer src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js'></script>

</head>

<body>
	<section class='section'>
		<container class='container box has-text-centered' style='max-width:500px;'>
			<img class='block is-rounded' src='/logo.png' style='width:128px;'>

			<div class='content mb-5'>
				<h6>LINK PREVIEW</h6>
				<p>
					<b><span class='is-family-code'>{{id}}</span> redirects to</b>
					<br>
					<a href='{{long}}'>{{long}}</a>
				</p>
			</div>

			<div class='buttons is-centered my-4'>
				<a href='https://api.qrserver.com/v1/create-qr-code/?size=250x250&data={{short}}' id='QR'
					class='button is-info is-outlined' target='_blank'>
					<span>QR Code</span>
					<span class='icon'>
						<i class='fas fa-external-link-alt'></i>
					</span>
				</a>
				<a href='{{long}}' id='QR' class='button is-info'>
					<span>Continue</span>
					<span class='icon'>
						<i class='fas fa-chevron-right'></i>
					</span>
				</a>
			</div>
		</container>

		<p class='has-text-centered'>
			&copy; 2021-2022 <a href='https://eartharoid.me'>Isaac Saunders</a>
		</p>
	</section>
</body>

</html>