<!DOCTYPE html>
<html>

<head>
	<title>eartharoid GO</title>
	<meta charset='UTF-8'>
	<meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	<meta name='theme-color' content='#009999'>
	<meta name='title' content='eartharoid GO'>
	<meta name='og:title' content='eartharoid GO' />
	<meta name='og:site_name' content='eartharoid GO' />
	<meta name='description' content='Serverless URL shortener'>
	<meta name='og:description' content='Serverless URL shortener' />
	<meta name='url' content='/'>
	<meta name='og:url' content='/' />
	<meta name='og:image' content='/logo.png' />

	
	<link rel='stylesheet' href='https://jenil.github.io/bulmaswatch/darkly/bulmaswatch.min.css'>
	<link rel='icon' href='/favicon.ico' type='image/icon'>
	<script defer src='https://use.fontawesome.com/releases/v5.14.0/js/all.js'></script>

	<style>
		.dark-box {
			background-color: #1F2424;
		}

		.tab-container {
			display: none;
		}

		.graph {
			margin: auto;
		}

		@media only screen and (max-width: 768px) {
			.graph {
				max-width: 100%;
			}
		}
	</style>

	<script src='https://www.gstatic.com/charts/loader.js'></script>
	<script>
		const ID = '{{id}}';

		google.charts.load('current', {
			packages: ['corechart', 'geochart', 'line'],
			mapsApiKey: '{{api_key}}',
		});

		google.charts.setOnLoadCallback(drawCharts);

		async function drawCharts() {
			// let data = await (await fetch(`/api/get?id=${ID}`)).json();
			let data = {{&data}};
			drawHistory(data);
			drawLocations(data);
			drawReferrers(data);
		}

		function drawHistory(data) {
			let clicks = {};
			data.clicks.forEach(c => {
				let date = (new Date(c.time._seconds * 1000)).toLocaleDateString();
				if (!clicks[date]) {
					clicks[date] = 0;
				}
				clicks[date]++;		
			});

			let dataArray = [
				['Date', 'Clicks'],
			];

			for (let c in clicks) {
				dataArray.push([c, clicks[c]]);
			}

			let table = google.visualization.arrayToDataTable(dataArray);

			let chart = new google.charts.Line(document.getElementById('history-chart'));
			chart.draw(table, google.charts.Line.convertOptions({
				title: 'Number of clicks (all time)',
				titleTextStyle: {
					color: 'white'
				},
				curveType: 'function',
				backgroundColor: '#1F2424',
				chartArea: {
					backgroundColor: '#1F2424',
					height: '800px'
				},
				vAxis: {
					textStyle: {
						color: 'white'
					}
				},
				hAxis: {
					textStyle: {
						color: 'white'
					}
				},
				legend: {
					position: 'none'
				},
			}));
		}


		function drawLocations(data) {
			let countries = {};
			data.clicks.forEach(c => {
				if (!c.country_name) {
					return;
				}
				if (!countries[c.country_name]) {
					countries[c.country_name] = 0;
				}
				countries[c.country_name]++;		
			});

			let dataArray = [
				['Country', 'Clicks'],
			];

			for (let c in countries) {
				dataArray.push([c, countries[c]]);
			}

			let table = google.visualization.arrayToDataTable(dataArray);

			let map = new google.visualization.GeoChart(document.getElementById('locations-map'));
			map.draw(table, {
				colorAxis: {
					// colors: ['white', '#00C4EE']
					// colors: ['white', '#1F669C']
					colors: ['white', '#009999']
				},
				// backgroundColor: '#81d4fa', // light blue
				// backgroundColor: '#343C3D',
				backgroundColor: '#1F2424',
				// datalessRegionColor: '#686868', // grey
				defaultColor: '#f5f5f5',
				width: '900px',
				height: '500px'
			});

			let chart = new google.visualization.PieChart(document.getElementById('locations-chart'));
        	chart.draw(table, {
				height: '400px',
				backgroundColor: '#1F2424',
				legend: {
					position: 'labeled',
					textStyle: {
						color: 'white',
					}
				}
			});
		}

		function drawReferrers(data) {
			let refs = {};
			data.clicks.forEach(c => {
				if (!c.referrer) {
					c.referrer = 'None (direct)'
				}
				if (!refs[c.referrer]) {
					refs[c.referrer] = 0;
				}
				refs[c.referrer]++;		
			});

			let dataArray = [
				['referrer', 'Number'],
			];

			for (let r in refs) {
				dataArray.push([r, refs[r]]);
			}

			let table = google.visualization.arrayToDataTable(dataArray);

			let chart = new google.visualization.PieChart(document.getElementById('referrers-chart'));
        	chart.draw(table, {
				backgroundColor: '#1F2424',
				legend: {
					textStyle: {
						color: 'white',
						// fontSize: 16
					}
				},
				title: 'Referrers',
				titleTextStyle: {
					color: 'white'
				},
				chartArea:{
					width: '100%',
					height: '100%'
				}
			});
		}
	</script>


</head>

<body> <!--onload='onLoad(this);'-->
	<section class='section'>
		<container class='container box has-text-centered'>
			<!-- <img class='block is-rounded' src='/logo.png' style='width:128px;'> -->

			<a href='/admin' class='button is-small my-5 is-outlined is-link'>
				<span class='icon'>
					<i class='fas fa-long-arrow-alt-left'></i>
				</span>
				<span>
					Back to admin dashboard
				</span>
			</a>

			<div class='content my-6' style='margin-top:1rem!important;'>
				<h1 class='title mt-4'>{{id}}</h1>
				<p class='subtitle'>{{created}} ({{daysAgo}})</p>
			</div>

			<div class='level'>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{totalClicks}}</p>
						<p class='heading'>Total clicks</p>
					</div>
				</div>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{uniqueClicks}}</p>
						<p class='heading'>Unique clicks</p>
					</div>
				</div>
				<div class='level-item has-text-centered'>
					<div class='box'>
						<p class='title'>{{dailyClicks}}</p>
						<p class='heading'>Avg. clicks/day</p>
					</div>
				</div>
			</div>
		</container>
		<container class='container box dark-box has-text-centered'>

			<div class='tabs is-centered is-boxed mt-4'>
				<ul>
					<li id='tab0' class='is-active' onclick='tab(0)'>
						<a href='#clicks'>
							<span class='icon is-small'><i class='fas fa-mouse-pointer' aria-hidden='true'></i></span>
							<span>Clicks</span>
						</a>
					</li>
					<li id='tab1' onclick='tab(1)'>
						<a href='#locations'>
							<span class='icon is-small'><i class='fas fa-globe-europe' aria-hidden='true'></i></span>
							<span>Locations</span>
						</a>
					</li>
					<li id='tab2' onclick='tab(2)'>
						<a href='#referrers'>
							<span class='icon is-small'><i class='fas fa-link' aria-hidden='true'></i></span>
							<span>Referrers</span>
						</a>
					</li>
				</ul>
			</div>

			<div id='tab0-container' class='tab-container' style='display: block;'>
				<div id='history-chart' class='graph'></div>
			</div>

			<div id='tab1-container' class='tab-container'>
				<div class='columns'>
					<div class='column is-two-thirds'>
						<div id='locations-map' class='graph'></div>
						<!-- style='width:900px; height:500px;' -->
					</div>
					<div class='column'>
						<div id='locations-chart' class='graph'></div>
						<div class='table-container'>
							<table id='dataTable' class='table is-bordered is-striped is-hoverable is-fullwidth'>
								<thead>
									<tr>
										<th></th>
										<th>Country</th>
										<th>Clicks</th>
									</tr>
								</thead>
								<tbody>
									{{#countries}}
									<tr>
										<td class='has-text-centered'>{{position}}</td>
										<td><img src='{{flag}}' style='width:24px;height:auto;' /> {{name}}</td>
										<td>{{count}}</td>
									</tr>
									{{/countries}}
								</tbody>
								<!-- <tfoot>
									<tr>
										<tr>
										<th>Position</th>
										<th>Country</th>
										<th>Clicks</th>
									</tr>
									</tr>
								</tfoot> -->
							</table>
						</div>
					</div>
				</div>
			</div>

			<div id='tab2-container' class='tab-container'>
				<div class='columns'>
					<div class='column is-two-thirds'>
						<div id='referrers-chart' class='graph'></div>
					</div>
					<div class='column'>
						<div class='table-container'>
							<table id='dataTable' class='table is-bordered is-striped is-hoverable is-fullwidth'>
								<thead>
									<tr>
										<th>Referrer</th>
										<th>Clicks</th>
									</tr>
								</thead>
								<tbody>
									{{#referrers}}
									<tr>
										<td><img src='https://www.google.com/s2/favicons?domain={{name}}' /> {{name}}</td>
										<td>{{count}}</td>
									</tr>
									{{/referrers}}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>


		</container>
		<p class='has-text-centered'>
			&copy; 2021 <a href='https://eartharoid.me'>Isaac Saunders</a>
		</p>
	</section>

	<script>
		let tabs = [
			document.getElementById('tab0'),
			document.getElementById('tab1'),
			document.getElementById('tab2')
		];

		let containers = [
			document.getElementById('tab0-container'),
			document.getElementById('tab1-container'),
			document.getElementById('tab2-container')
		];

		let currentTab = 0;

		function tab(num) {
			tabs[currentTab].classList.toggle('is-active');
			tabs[num].classList.toggle('is-active');

			containers[currentTab].style.display = 'none';
			containers[num].style.display = 'block';

			currentTab = num;
		}

		// function onLoad (body) {
			console.log(location.hash);
			switch (location.hash) {
				case '#clicks':
					tab(0);
					break;
				case '#locations':
					tab(1);
					break;
				case '#referrers':
					tab(2);
					break;
				default:
					tab(0);
			}
		// };
	</script>

</body>

</html>